name: ros2-build-and-test

on:
  push:

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    container: ros:jazzy-ros-base

    strategy:
      matrix:
        python-version: [3.10, 3.11, 3.12]
        cmake-version: [3.26, 3.27, 3.28]

    steps:
      - uses: actions/checkout@v4

      - name: Setup ROS 2 Jazzy
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: jazzy

      - name: Install ROS2 dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3-colcon-common-extensions \
            python3-rosdep \
            ros-jazzy-ros-base \
            ros-jazzy-ament-cmake

      - name: Build and test ROS2 workspace
        run: |
          set -e

          if [ -f /opt/ros/jazzy/setup.bash ]; then
              source /opt/ros/jazzy/setup.bash
          else
              echo "setup.bash not found!"
              exit 1
          fi

          echo "CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH"
          echo "AMENT_PREFIX_PATH=$AMENT_PREFIX_PATH"
          echo "PATH=$PATH"

          colcon build --packages-select device_msgs mypkg --cmake-args -DBUILD_TESTING=OFF

          chmod +x ./src/mypkg/test/test.bash
          ./src/mypkg/test/test.bash

