name: ros2-build-and-test

on: push

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup ROS 2 Jazzy
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: jazzy

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-colcon-common-extensions

      - name: Run ROS2 integration test
        run: |
          chmod +x ./src/mypkg/test/test.bash
          ./src/mypkg/test/test.bash

