name: ros2-build

on: push

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup ROS 2 Jazzy
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: jazzy

      - name: Install colcon
        run: sudo apt install -y python3-colcon-common-extensions

      - name: Build workspace
        run: |
          colcon build --packages-select device_msgs mypkg

